# Gradle
.gradle/
**/build/
!src/**/build/
local.properties

# Java
*.class
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
hs_err_pid*

# env
.env

# Sonar / scanner artifacts
.scannerwork/

# lefthook local binary
.bin/
